<div id="left">
  <p style="font-size: 20px;color:red;">MOVIE: <%= @title %>   </p>
  <img style="max-height: 350px;" src = "<%= @poster %>"  alt="">
  <br><p style="color: black;">YEAR: <%=  @year  %> </p>
  <br><p style="color: black;"> ACTORS: <%=  @actors  %> </p>
  <br><p style="font-size: 10px; color: black;"> PLOT: <%=  @plot  %> </p>
  <br><br>
</div>

<div id="right">
  <div>
    <img style ="max-width: 50%; margin-top: 10px; float:right; border: 10px solid white;" src = "/dvd-rentals.jpeg"  alt="">
  </div>
  <div>
    <img style ="max-width: 50%; margin-top: 10px; float:right; border: 10px solid white;" src = "/popcorn-sale.jpeg"  alt="">
  </div>
  <div>
    <img style ="max-width: 50%; margin-top: 10px; float:right; border: 10px solid white;" src = "/free-tickets.jpeg"  alt="">
  </div>
  <div>
    <img style ="max-width: 50%; margin-top: 10px; float:right; border: 10px solid white;" src = "/guess-movie.jpeg"  alt="">
  </div>
</div>